@import url('https://fonts.googleapis.com/css?family=Spirax|Open+Sans+Condensed:300');
#app {
  width: 90%;
  margin: 0 auto;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 1.5px;
  font-weight: 800;
  line-height: 50px;
  /* text-shadow: 3px 1px 1px gray; */
  font-family: Spirax;
}

header {
  margin: 0 0 50px 0;
}

#auth_user_controls {
  margin: 10px 0 15px 0;
  float: left;
}

.index-post-card {
  margin: 0 auto 10px;
  width: 100%;
  border: 3px solid black;
}

.card-text {
  font-size: 26px;
  font-family: "Open Sans Condensed";
}

.card-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 30px;
  line-height: 50px;
  border-bottom: 2px dotted rgba(0,0,0,1);
}

.comment-card {
  margin: 10px 0 0 0;
  border: 1px solid black;
}

.comment-card .card-header {
  text-transform: uppercase;
}

#comments-title {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0 5px 0;
}

.alert-success {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

#project-info {
  margin-bottom: 25px;
}

/* links */
a {
  color: rgba(0,0,0,1);
}

/* stuff hidden by default */
#frmEditComment {
  display: none;
}

/** small screens **/

@media (max-width: 650px) {
  #app {
    width: 95%;
    margin: none;
  }
}